<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="appOptica.Properties.Settings.BDOpticaConnectionString"
            connectionString="Data Source=DESKTOP-3P9RMN0;Initial Catalog=BDOptica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="appOptica.Properties.Settings.BDOpticaConnectionString1"
            connectionString="Data Source=DESKTOP-5LP0CUF;Initial Catalog=BDOptica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>